<div>
  Name: <%= @user.first_name %> <%= @user.last_name %>
  <br />
  <% if @user.dealership %>
    Dealership: <%= @user.dealership %>
  <% end %>
  <br />
  <br />
  <h2>Current Listings</h2>
  <% @user.vehicles.each do |vehicle| %>
    <%= link_to "#{vehicle.year} #{vehicle.make} #{vehicle.model}", vehicle_path(vehicle) %>
    <br />
  <% end %>
</div>
